body{
margin: 0 auto;
  background:black;
  padding:20px;

}

#welcome-section{
  height:100vh;
  padding:20px;
  margin:10px;
  height:400px;
  margin: 0 auto;
  
  border:1px solid blueviolet;
  border-radius:20px;
  background:linear-gradient(to right,black,grey);
  color:white;
  
 
  
}
section{
  text-align:center;
}
span{
  color:orange;
}
a{
  
  text-decoration:none;
  color:white;
  font-weight:bold;
  border:1px solid blueviolet;
  
  padding: 12px 25px;
  background:linear-gradient(to right,black,grey);
  box-shadow:grey;
  display:flex;
  border-radius:50%;
  margin:10px;
  justify-content:center;
 
}
a.cert{
  border:none;
  background:none;
}
.certificate{
  padding:20px;
  border:1px dotted grey;
  border-radius:20px;
}
h3,p{
  color:white;
  font-weight:bold;
}
section#projects{
  background:teal;
  font-family:italic;
  border:2px solid blueviolet;
  border-radius:20px;
  margin-top:10px;
  padding:50px;
  color:white;
  display:flex;
  justify-content:space-evenly;
  text-align:center;
  
  
}
.box,.box-1,.box-2,.box-3,.mini-box,.box-box{
  border:1px solid white;
  flex-basis:400px;
  padding:10px;
  border-radius:7px;
  margin:5px;
  align-self:center;
  
}

.box-2,.mini-box,.box-box{
  background:black;
 
  
}
.box,.box-box{
  padding:40px;
  
}

.mini{
  display:flex;
  justify-content:space-between;
  margin:10px;
  word-break: break;
}
ul{
  list-style:none;
}


.project{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items: center;
  border:1px solid blueviolet;
  border-radius:20px;
  background:linear-gradient(to right,black,grey);
  padding:10px;
  margin:10px;
}



.snake,.eduwell,.app,.trivia,.puppy,.digital{
  width:400px;
  height:400px;
  object-fit:cover;
  margin:10px;
  padding:10px;
  box-shadow: 1px 2px  white; 
}

.link{
  border:2px solid blueviolet;
  border-radius:5px;
  background:linear-gradient(to right,black,grey);;
 
}


@media (max-width:665px){
  .flex,.project{
    display:block;
    
  }
  a.nav{
   
  }
}

.footer{
  display:flex;
  text-align:center;
  justify-content:center;
  
}
.anchor{
  width:100px;
  height:100px;
  margin-top:50px;
  display:flex;
  align-items:center;
  background:linear-gradient(to right,black,grey);;
  
  
  
}


